body, html{
  height:100%;
  margin: 0;
   padding: 0;
}


.wrap{
width: 100%;
height:100%;

}

a {transition:.2s;}

/* ====== TOP NAV ======== */

.navWrap{
width:100%;

background-color:white;
  }


.navContain{
  max-width:1200px;
  margin: 0 auto;


}

.logo{
  width:90px;
  height:90px;
}

.logoType{
  font-size: 32px;
  font-family: Markazi text, georgia, serif;
  font-weight: 600;
}

.logo, .logoType{
  position:relative;
  top:10px;
}

.navbar-toggler:focus{
  outline:none;
}

#topNav{
padding:20px;
transition:.3s;
background-color:none;
}

.bg-light{
  background-color:none;
}

#topNav ul{
position:relative;
top:7px;
}

#topNav a{
  padding:10px;
  font-family:source sans pro, arial, sans-serif;
  font-size:18px;
}


#navCTA{
  margin:25px 0 10px;

}

#navCTA a{
  color:white;
  background-color:#ff9000;
  padding:15px;
  border-radius:8px;
  transition:.3s;
  font-family:source sans pro, arial, sans-serif;
  font-weight:600;
}

#navCTA a:hover{
  text-decoration:none;
  background-color:#E85D1C;
}

/* ====== CALC CONTENT ======== */

section.firstSteps{ color:white;
padding:20px;
  height:100%;
  min-height:800px;
  margin-bottom:-35px;
 }

 section.firstSteps h1{ color:white;
 width:90%;

 max-width:1100px;
 line-height:1em;
 letter-spacing:1px;
 font-size:90px;
 margin:50px auto 20px;
 font-family:markazi text, georgia, serif;
 /*
  height:250px; */
 }


 section.firstSteps h2{ color:white;
width:90%;
max-width:1000px;
line-height:1.5em;
letter-spacing:1px;
font-size:48px;
margin:10px auto 70px;
font-family:source sans pro,arial, sans-serif;
text-align: center;
 /*
  height:250px; */
 }

@media only screen and (max-width:800px)
{

 section.firstSteps h1{ color:white;
  line-height:1em;
 letter-spacing:1px;
 font-size:70px;
 margin:30px auto 10px;
 font-family:markazi text, georgia, serif;
 /*
  height:250px; */
 }


 section.firstSteps h2{ color:white;
width:90%;
max-width:1000px;
line-height:1.25em;
letter-spacing:1px;
font-size:44px;
margin:10px auto 70px;
 /*
  height:250px; */
 }

}

@media only screen and (max-width:550px)
{

 section.firstSteps h1{ color:white;
  line-height:1em;
 letter-spacing:0px;
 font-size:60px;
 margin:20px auto 5px;
 font-family:markazi text, georgia, serif;
 /*
  height:250px; */
 }


 section.firstSteps h2{ color:white;
width:95%;
line-height:1.1em;
letter-spacing:1px;
font-size:40px;
margin:10px auto 70px;
 /*
  height:250px; */
 }

}

@media only screen and (max-width:450px)
{

 section.firstSteps h1{ color:white;
  line-height:1em;
 letter-spacing:0px;
 font-size:44px;
 margin:20px auto 5px;
 font-family:markazi text, georgia, serif;
 /*
  height:250px; */
 }


 section.firstSteps h2{ color:white;
width:95%;
line-height:1.25em;
letter-spacing:1px;
font-size:30px;
margin:10px auto 70px;
 /*
  height:250px; */
 }

}

@media only screen and (max-width:350px)
{

 section.firstSteps h1{ color:white;
  line-height:1em;
 letter-spacing:0px;
 font-size:40px;
 margin:20px auto 5px;
 font-family:markazi text, georgia, serif;
 /*
  height:250px; */
 }


 section.firstSteps h2{ color:white;
width:95%;
line-height:1em;
letter-spacing:1px;
font-size:26px;
margin:10px auto 70px;
 /*
  height:250px; */
 }

}

 section.firstSteps h2 a{
background-color:white;
padding: 2px;
 /*
  height:250px; */
 }



 section.firstSteps h2 a:hover{
color:#ff9000;
text-decoration: none;
 /*
  height:250px; */
 }

 a.homeCTA{ color:white;
display:block;
background-color:#f99000;
text-align:center;
width:200px;
margin:0 auto;
font-size:24px;
padding:10px 3px 3px 3px;
border-radius:5px;
font-family:source sans pro,arial, sans-serif;
 /*
  height:250px; */
 }

 a.homeCTA:hover{
  background-color:#E85D1C;
text-decoration: none;
 }

 a.homeCTA i.fas{
 font-size: 20px;
 transition:.3s;position:relative; top:0;
  /*
   height:250px; */
  }



 a.homeCTA:hover i.fas{
position:relative;
top:7px;
  /*
   height:250px; */
  }

@media only screen and (max-width:500px)
{
   a.homeCTA{ color:white;
display:block;
background-color:#f99000;
text-align:center;
width:200px;
margin:0 auto;
font-size:24px;
padding:10px 4px 0px 4px;
border-radius:5px;
font-family:source sans pro,arial, sans-serif;
 /*
  height:250px; */
 }
}

#monthlyOption{
  background-color:#ff9000;
  transition:.4s;
}

#cashOption{
  float:right;
  transition:.4s;
}

section.calc{
background-color:#E85D1C;
  height:1000px;
  min
  padding:0px;

}

.calcContain{
  margin:2% auto;

    max-width:900px;
  min-height:500px;
  height:70%;

  /*background-color:white;*/
  border-radius:10px;
  padding:10px 50px;
}

h1.calcHead{
  color:white;
font-family:Markazi text,georgia, serif;
  font-weight:600;
  text-transform:capitalize;
  text-align:center;
  max-width:800px;
  padding:20px;
  margin:35px auto 0;
  font-size:60px;
  line-height:1em;

}

.paymentMethod, .slider{

  float:left;
  width:50%;
  text-align:center;

}

.paymentMethod{
  width:100%;

  height:250px;
  text-align:center;

}


.paymentTypeContain{
  margin:0 auto;
  width:100%;
  height:220px;
}

.paymentType{
  color:white;
  font-family:source sans pro, arial, sans-serif;
  font-size:24px;
  line-height:1.2em;
  height:200px;

}

.paymentMethod img{
  width:90%;
  height:100%;
  display:none;
}

i.fa{
  font-size:90px;
  margin:0px 0;
    color:white;
}

i.fa-calendar{
  transform:scale(1,.75);

}

i.fa-money{
  font-size:90px;
  margin:0px 0 0px;

}

.total{outline:0px solid; margin-top:30px;}

.total h4{
  margin-top:10px;
   font-size:40px;
   font-family:source sans pro, arial, sans-serif;
}

.total h2, .total h2 span#grandTotal {
   font-size:120px;
}

.total h4, .total h2{
   color:white;
}

.paymentMethod h4{
  margin: 20px 0;
}

span.paymentType{

  display:block;
  float:left;
  margin:5px;
  width:48%;
  height:210px;
}

.slider{
  height:100px;

}

.slideContainer{
  color:white;
  text-align:center;
  font-size:24px;
  padding-top:20px;
  line-height:1.25em;
  font-weight:600;
  height:150px;
  }

span.sliderTitle{

  display:block;
  height:70px;
  }

.total{

  float:left;
  width:100%;
  text-align:center;
  height:100px;

}

.total h4{
  font-family: source sans pro,arial,sans-serif;
  font-weight:300;
  margin-top:50px;
}

.total h2{
  font-family: Markazi text, georgia, serif;
  font-weight:600;
  font-size: 60px;
  margin-top:-45px;
}

span.dollarsign{font-size: 110px;}

#cashOption, #monthlyOption{cursor:pointer; border:0px solid white; border-radius:10px;}
#cashOption:focus, #monthlyOption:focus{cursor:pointer; border:0px solid white; border-radius:10px;}




@media only screen and (max-width:620px)
{

.payment{clear:both;margin-bottom:550px;}
span.paymentType{width:100%;}
h1.calcHead{font-size:48px; padding:15px; line-height:1em;}
.sliderholder.left{ width:100%; float:none;}
section.calc{ height:100%; min-height:1360px;}
#cashOption {position:relative; left:5px;}
#monthlyOption {position:relative; left:-5px;}

.total h4{position:relative; top:-20px; font-size:36px;}
.total h2, .total h2 span#grandTotal {font-size:80px; position:relative; left:0px; top:-5px; font-size: 100px;}
span.dollarsign{font-size: 100px;margin-right:10px; position:relative; left:0px; top:-5px;}
.sliderTitle{font-size:20px; line-height:1.2em;}
.paymentType{font-size:22px; line-height:1.2em;}
}

@media only screen and (max-width:420px)
{
.total h4{position:relative; top:-20px; font-size:32px;}
.total h2, .total h2 span#grandTotal { position:relative; left:-6px; top:0px; font-size: 80px;}
span.dollarsign{font-size: 80px;margin-right:10px; position:relative; left:0px; top:0px;}
}

@media only screen and (max-width:350px)
{
.total h4{position:relative; top:-20px; font-size:30px;}
.total h2, .total h2 span#grandTotal { position:relative; left:-6px; top:7px; font-size: 68px;}
span.dollarsign{font-size: 68px;margin-right:10px; position:relative; left:0px; top:7px;}
}

/* ====== NEXT STEPS CONTENT ======== */

section.nextSteps{min-height: 200px; padding: 30px;
background-color:white;
}


/* ====== ABOUT PAGE CONTENT ======== */


section.about{
position:relative;

}

.headImg{
  min-height:600px;
  width:100%;

  background-size:cover;
  background-color:none;

position:relative;

/* background-blend-mode: normal;
background-attachment: fixed;
background-position: center;
background-color:rgba(0,0,0,.25);
background-blend-mode:multiply;
overflow: auto;*/
}


.headImgv2{
  min-height:600px;
  width:100%;
  background-size:cover;
  background-color:none;

  position:relative;


background-blend-mode: normal;
background-attachment: fixed;
background-position: center;
background-color:rgba(0,0,0,.25);
background-blend-mode:multiply;
overflow: auto;
}




.headImgv2.first{
 background-image:url('../images/make-money.jpg');
}

.headImgv2.second{
 background-image:url('../images/increase-property-value.jpg');
}

.headImgv2.third{
 background-image:url('../images/more-than-just-panels.jpg');
}

.headImgv2.fourth{
 background-image:url('../images/get-off-grid.jpg');
}

.headImgv2.fifth{
 background-image:url('../images/protect-against-cost.jpg');
}

.headImgv2.sixth{
 background-image:url('../images/save-the-environment.jpg');
}

h2.secHead{
font-family:Markazi text,georgia, serif;
font-weight:900;
font-size:90px;
  width:100%;
  padding:0px 25px;
    text-align:center;
  color:white;
line-height:.8em;
position:absolute;
top:35%;
}

h5.secHead{
font-family:Markazi text,georgia, serif;
font-weight:400;
font-size:36px;
  width:100%;
  text-align:center;
  color:white;
line-height:1em;
position:absolute;
top:48%;

}


@media only screen and (min-width:1150px){

h2.secHead{
font-size:110px;
}

h5.secHead{
font-size:40px;
top:53%;
}

.headImg{
  min-height:750px;
  width:100%;
}

}

i.fas {font-size:44px; margin-bottom:20px;}

@media only screen and (max-width:702px)
{
  h5.secHead{
top:68%;

}

.headImg{
  min-height:450px;
 }
}

@media only screen and (max-width:475px)
{
  h2.secHead{
font-size:76px;

}
  h5.secHead{
font-size:32px;

}
.headImg{
  min-height:400px;
 }
}

@media only screen and (max-width:390px)
{
  h2.secHead{
font-size:66px;

}
  h5.secHead{
font-size:28px;

}
}

@media only screen and (max-width:335px)
{
  h2.secHead:last-child{
font-size:56px;

}
}

.contentContain{
background-color: #FF9000;
  color:white;
margin:0 auto;
width:100%;

  height:100%;
  padding:50px 100px;
  min-height:200px;
}

.contentContain p{
  font-family:source sans pro, arial, sans-serif;
  font-size:24px;
  line-height:1.75em;
  max-width:1100px;
  margin:0 auto;
}

@media only screen and (max-width:750px){
.contentContain{
 padding:20px 30px;
}
.contentContain p{
  font-size:20px;
  line-height:1.5em;
  margin:0 auto;
}

}




/* ====== NEXT STEPS ======== */

section.nextSteps{
  text-align:center;
  height:260px;
}

section.nextSteps h3{
  font-family:markazi text, georgia, serif;
  font-size:48px;
  line-height:.85em;

}

section.nextSteps h5{
  font-family:source sans pro, arial, sans-serif;
  font-size:28px;
   line-height:1.2em;
}

.nextStepsWrap{
max-width:1200px;
margin:1% auto 0;

}

.nextStepsWrap div{

  width:43%;
  float:left;
}
.nextStepsWrap div:nth-child(2){
  width:14%;
  margin-top:30px;

}

.or.cta{
  font-size:32px;
  margin-top:45px;
  font-family:source sans pro, arial, sans-serif;
}

@media only screen and (max-width:850px)
{
section.nextSteps h3{
  font-size:42px;

}

section.nextSteps h5{
  font-size:24px;
}

  .or.cta{
 margin-top:40px;
}

}

@media only screen and (max-width:672px)
{
.nextStepsWrap div, .nextStepsWrap div:nth-child(2){
  width:100%;
  margin:0px;
 }

 section.nextSteps{
  text-align:center;
  height:470px;
}

  .or.cta{
 margin-top:10px;
}

}

@media only screen and (max-width:575px)
{

 section.nextSteps{
  text-align:center;
  height:450px;
}

}

@media only screen and (max-width:467px)
{

 section.nextSteps{
  height:470px;
}

}




@media only screen and (max-width:405px)
{

 section.nextSteps{
  height:510px;
}

}

@media only screen and (max-width:336px)
{

 section.nextSteps{
  height:565px;
}

}

/* ====== FOOTER ======== */

footer{
font-family:source sans pro, arial, sans-serif;
min-height:450px;
  width: 100%;
padding:30px;
  /* background-color:black; */
  text-align:center;
  color:white;
}

#contactv2{
   background-image:url('../images/contact.jpg');
background-blend-mode: normal;
background-attachment: fixed;
background-position: center;
background-color:rgba(0,0,0,0);
background-blend-mode:multiply;

}


footer h3{
margin-bottom:20px;
font-size:70px;
font-family: markazi text, georgia,serif;
text-transform:uppercase;
font-weight:900;
color:#ff9000;
}


footer ul{
  margin:0 auto;
  padding:0;
}

footer li{
font-size:28px;
display:inline;
padding:20px;
width:33%;
}

footer li a{
color:white;
text-decoration:underline;
}

footer li a:hover{
color:orange;

}

footer p{
  margin-top:50px;
}

footer p a.fa{color:white; padding:20px; font-size:36px;}
footer p a.fa:hover{color:#ff9000; text-decoration:none;}

@media only screen and (max-width:1040px)
{
 footer li{
width:100%;
display:block;
clear:both;
padding:5px;
}

 footer li:last-child{
margin-bottom:25px;
}
}
